/* global css */
body {
    margin: 0;
    padding: 0;
    font-family: "Signika", sans-serif;
}

.margin-fixed {
    max-width: 75%;
    margin: 0 auto;
}

.description {
    font-size: 18px;
    font-weight: 600;
    color: rgba(50, 46, 46, 0.741);

    margin-bottom: 40px;

}

.btn-primary {
    border: 1px solid;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(229, 84, 115);
    border-radius: 9px;
    padding: 18px 31px;
    color: white;
    font-weight: 500;
}

.second-heading {
    font-size: 40px;
    font-weight: 800;
}

.second-heading-align {
    text-align: center;
}

/* nav section */

.nav-heading{
    font-size: 50px;
    font-weight: 800;
    margin-left: ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}
nav ul{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    margin-left: 30px;
}
li a{
    text-decoration: none;
    font-size: 20px;
    color:black;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.138);
    padding: 20px 30px;
    border-radius: 10px;
}


/* header section  */
.sec-1 {
    background-color: rgba(229, 84, 115, 0.1);
}

#header-heading {
    font-size: 75px;
    margin-bottom: 40px;
    line-height: 90px;
}

#header-flex {
    display: flex;
}

#first-box {
    width: 45%;
    margin: 100px 150px 0 0;
}

/* 3 image section */
.second-heading{
    font-size: 40px;
    font-weight: 800;
}
.flower-info-align{
    text-align: center;
    margin-bottom: 100px;
}
.img-flex {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0 0;
}

.bg1{
    background-color:rgba(167, 33, 98, 0.15);
    box-shadow: 1px 1px 9px gray;
}

.bg2{
    background-color:rgba(5, 151, 160, 0.15); 
    box-shadow: 1px 1px 9px gray;
}

.bg3{
    background-color:rgba(71, 125, 17, 0.15);
    box-shadow: 1px 1px 9px gray;
}

#img-1 {
    width: 310px;
    height: 428px;
    margin: 110px 78px 0 76px;
    
}

#img-2 {
    width: 370px;
    height: 370px;
    margin: 117px 47px 51px 47px;
}

#img-3 {
    width: 314px;
    height: 471px;
    margin: 67px 75px 0 75px;
}
.image-info{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    

}
#margin-bottom{
    margin-bottom: 130px;
}

/* section 2 */

.sec-2-box{
    box-shadow: 1px 1px 20px gray;
    height: 400px;
    width: 800px;
    border-radius: 12px;
    margin-top: 10px;
    border-left: 8px solid;
    border-image: linear-gradient(180deg,rgba(255, 99, 71, 0.743) ,rgb(163, 153, 153));
    border-image-slice: 1;
    
}
#sec-2-info-padding{
    padding-top: 50px;
}

.text-red{
    color: rgb(229, 84, 115);
}
.third-sec-flex{
    display: flex;
    justify-content:center;
    padding-top: 100px;
}
.sec-2{
    background-color:rgba(229, 84, 115, 0.05) ;
    height: 620px;
}
.third-sec-flex img{
    padding-left: 300px;
    width: 318px;
    height: 420px;
}


/* section 3 */

#sec-3-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.sec-3-img-container{
    width: 342px;
    height: 396px;
}
.sec-3-img-container img{
    
    border-radius: 15px;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.527);
    width: 330px;
    height: 386px;
}

/* section 4 */
.sec-4{
    background-image: url(images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: 1440px 450px ;
    height: 450px;
    border-radius: 7px;
    box-shadow: 1px 1px 20px gray;
}
#email-box{
    padding: 23px 513px 22px 22px;
    border-radius: 9px;
    margin-right: 16px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}
.sec-4-padding{
    padding-top: 80px;
}


/* footer section */

footer{
    background-color: rgba(0, 0, 0, 0.745);
    height: 550px;
    margin-top: 100px;
}
.footer-align{
    text-align: center;
    padding-top: 115px;
}
#footer-heading{
    font-size: 50px;
    font-weight: 800;
    color: white;
}
#footer-info{
    font-size: 18px;
    color:rgba(255, 255, 255, 0.9);
}
#copyright-part{
    font-size: 16px;
    color: rgba(226, 226, 226, 0.748);
    line-height: 100px;
}